.cache
.coverage
.DS_Store
.idea
.ipynb_checkpoints/
.mypy_cache
.pip-cache/
.pyre/
.pytest_cache/
.vscode/
.venv
*.pyc
/env
/venv
/.venv
/etc
celerybeat-schedule.db
celerybeat.pid
flower.db
local_settings.py
tmp/
.env
__pycache__
coverage.xml
