{% for path, operation in get.items() %}
{% if operation.query_params %}
class {{ classname(operation.fn_name) }}QueryParams(BaseModel):
    {%- for parameter in operation.query_params -%}
    {%- if parameter.required %}
    {{ varname(parameter.key) }}: {{ typerepr(parameter.schema) }}
    {%- endif %}
    {%- endfor %}

    {%- for parameter in operation.query_params -%}
    {%- if not parameter.required %}
    {{ varname(parameter.key) }}: {{ typerepr(parameter.schema) }} | None = None
    {%- endif %}
    {%- endfor %}
{%- endif %}
{% endfor %}
