[tool.poetry]
name = "{{ name }}"
version = "{{ version }}"
description = "{{ name }}"
authors = ["{{ authors }}"]

[tool.poetry.dependencies]
httpx = "^0.23.0"
pydantic = "^1.8.2"
colorama = "^0.4.4"
jaeger-client = "^4.8.0"
prometheus-client = "^0.14.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
